@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin: 0px;
}
body {
  background-color: rgb(209, 176, 212);
  color: white;
}
.nav{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  
}
.logo{
  font-size: 35px;
  color: rgb(116, 116, 154);
  padding-left: 20px;
}
ul{
display: flex;
gap: 20px;
font-size: 20px;
padding: 10px;}


.link{
  color: cadetblue;

}
.link:hover {
  color: palevioletred;
}
.btn{
  padding: 15px;
}
.bt:hover{
  color: cadetblue;
  background-color: pink;
}
 

.hero{
  display: flex;
  margin-left: 20%;
  margin-top: 10%;
}
.img-div{
  width: 400px;
  height: 400px;
}

.img{
  width: 500px;
  height: 300px;

}

.info-div{
  margin-left: 150px;
}

h1{
  font-size: 70px;
}

.btn2{
  display: flex;
  gap: 30px;

}
.bt{
  padding: 10px;
  font-size: medium;
  background-color: rgb(116, 116, 154); 
  border: 2px solid;
  color: white;
  border-radius: 2px;
  width: 150px;
  height: 50px;
} 

.name{
  color: black ;
 font-weight: 800;
 font-style: italic;
  
}

.img1{
  text-align: center; /* Center the text inside the container */
  padding: 10px; 
  display: block; /* Make the image behave like a block element */
  margin-left: auto; /* Auto margins on both sides to center the image */
  margin-right: auto;
 width: 200px;
 height: 500%;


}

.heading {
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(116, 116, 154);
  font:bolder;
 

  
}

p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
  color: black;
}

.skill-h2{
  font-size: 30px;
  text-align: left;
  margin: 20px;
  color: white;
  margin-left: 10%;
}


 
  

.logo{
  color:white;
  background-color: rgb(116, 116, 154);
  
  border-radius: 50px;
  font-weight: 600;
 border: solid;
padding: 12px;
}

